# ワークフロー名
name: chatbot

# 実行タイミング
on:
  push
  #schedule:
    # JST 07:00 (UTC 22:00)
   # - cron: '0 22 * * *'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # リポジトリからチェックアウト
      # v2は古いため、最新のv4推奨へ変更しました
      - uses: actions/checkout@v4

      # Pythonセットアップ
      # ここがエラーの主原因でした。v1 -> v5 に変更することで
      # 環境にないPythonバージョンも自動ダウンロード可能になります
      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # 1行にまとめて記述可能です
          pip install line-bot-sdk beautifulsoup4 schedule lxml
          
      - name: Run script
        run: |
          python jewelry_bot_mark2.py

      # 【今回追加】変更された yesterday.txt をコミットしてプッシュする
      - name: Commit and Push changes
        run: |
          # Gitの設定（Botとしてコミット）
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          
          # ファイルをステージング
          git add yesterday.txt
          
          # 変更がある場合のみコミット（変更がないとエラーになるのを防ぐため || exit 0 をつける）
          git commit -m "Update weather status [skip ci]" || exit 0
          
          # リポジトリに反映
          git push
